<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.6" debug="true"/>
    <httpRuntime targetFramework="4.6"/>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <!--<remove name="Documentation"/>-->
        <add name="HttpGet"/>
          <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>
<!--ProjectGuid: {84212922-85ea-43a6-b7d5-a22b61e65110}-->